fastapi
uvicorn
scikit-learn==1.7.2
pandas
numpy
joblib
pydantic
python-dotenv
PyJWT
python-jose[cryptography]
passlib[bcrypt]
pytest
httpx
supabase
structlog
pydantic-settings
langchain-openai
langchain-core
